name = "token-app"
main = "src/index.ts"
compatibility_date = "2025-03-01"
compatibility_flags = ["nodejs_compat"]

workers_dev = true

[triggers]
crons = ["0 * * * *"]

[[kv_namespaces]]
binding = "TOKEN_APP_KV"
id = "your-kv-namespace-id"
preview_id = "your-preview-kv-namespace-id"

[vars]
ENVIRONMENT = "production"
